@tailwind base;
@tailwind components;
@tailwind utilities;


/* From Uiverse.io by Satwinder04 */ 
.loader {
    position: relative;
    width: 164px;
    height: 100px;
    margin: 50px auto;
  }
  
  .loader div {
    position: absolute;
    width: 10px;
    height: 30px;
    background-color: #ff6a00;
    border-radius: 5px;
    animation: loader_51899 1.5s ease-in-out infinite;
  }
  
  .loader .bar1 {
    left: 0px;
    animation-delay: 0s;
  }
  
  .loader .bar2 {
    left: 20px;
    animation-delay: 0.15s;
  }
  
  .loader .bar3 {
    left: 40px;
    animation-delay: 0.3s;
  }
  
  .loader .bar4 {
    left: 60px;
    animation-delay: 0.45s;
  }
  
  .loader .bar5 {
    left: 80px;
    animation-delay: 0.6s;
  }
  
  .loader .bar6 {
    left: 100px;
    animation-delay: 0.75s;
  }
  
  .loader .bar7 {
    left: 120px;
    animation-delay: 0.9s;
  }
  
  .loader .bar8 {
    left: 140px;
    animation-delay: 1.05s;
  }
  
  .loader .bar9 {
    left: 160px;
    animation-delay: 1.2s;
  }
  
  @keyframes loader_51899 {
    0% {
      height: 30px;
      transform: translate(0, 0);
    }
  
    50% {
      height: 70px;
      transform: translate(0, 35px);
    }
  
    100% {
      height: 30px;
      transform: translate(0, 0);
    }
  }

.input {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: all 0.5s;
}

.input:hover,
.input:focus {
  border: 2px solid orange;
  box-shadow: 0px 0px 0px 7px rgba(245, 127, 37, 0.2);
  background-color: white;
}

.parent-element {
  padding-top: 80px;
}


/* From Uiverse.io by abrahamcalsin */ 
.dot-spinner {
  --uib-size: 2.8rem;
  --uib-speed: .9s;
  --uib-color: #183153;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}

  